body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 300px;
    height: 400px;
    border: 2px solid green;
    display: flex;
    justify-content: center;
    align-items: center ;
    flex-direction: column;
    background-color: #b8b8b8;
}